.navbar {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	.navbar-brand {
		display: flex;
		align-items: center;

		img {
			width: 100%;
		}
	}

	.navbar-nav {
		display: flex;
		align-items: center;
		gap: 15px;

		.navbar-item {
			text-transform: uppercase;
		}
	}
}
